/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif !default;

/// Light grey
/// @type Color
$white: #ffffff;
$black: #000000;
$blue: #0073aa;
$medium-blue: #00a0d2;
$clear: transparent;

$accent-red: #dc3232;
$accent-orange: #f56e28;
$accent-yellow: #ffb900;
$accent-green: #46b450;
$accent-blue: $blue;
$accent-purple: #826eb4;

$base-grey: #23282d;
$light-grey: #bbc8d4;
$heavy-grey: #37444c;
$dark-grey: #32373c;
$ultra-grey: #191f25;
$dark-silver: #50626f;
$base-blue: #2e74aa;
$light-blue: #4092d2;
$dark-blue: #2c5f88;
$ultra-blue: #1f3f58;
$bright-blue: #30ceff;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/* responsive mixin */
$tablet-landscape-min: 1024px;
$tablet-portrait-min: 768px;
$tablet-portrait-max: ($tablet-landscape-min - 1); // 1023px
$phone-landscape-min: 480px;
$phone-landscape-max: ($tablet-portrait-min - 1); // 767px
$phone-portrait-max: ($phone-landscape-min - 1); // 479px
